<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">ScrapeIt</h1>
    <p class="lead text-muted">A web scraper designed to bring in content from BuzzfeedNews and allow you to add notes
      that are paired
      with the articles.
    </p>
    <p>
      <a href="articles" class="btn btn-primary my-2">Scrape the articles</a>
      <a href="notes" class="btn btn-secondary my-2">See notes</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

    {{#each articles}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src={{this.img}} alt="Card image cap">
          <div class="card-body">
            <h3>{{this.title}}</h3>
            <p class="card-text">{{this.descriotion}}</p>
            <div class="d-flex flex-column justify-content-between align-items-center">
              <div class="btn-group">
                <a href={{this.link}} target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View source</button></a>
                <a href="notes"><button type="button" class="ml-1 btn btn-sm btn-outline-secondary">Add a note</button></a>
              </div>
              <small class="text-muted">from BuzzfeedNews</small>
            </div>
          </div>
        </div>
      </div>
    {{/each}}   


    </div>
  </div>
</div>








{{!-- <div>
  <ul>
  {{#each notes}}
    <li>
      <div>
        {{this.title}}
      </div>
      <div>
        {{this.body}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>  --}}
