<button id="scrapeIt" href="scrape">Scrape</button>

<h1>Articles!</h1>

<h2>which were scraped</h2>

<div>
  <div class="article-list">
    {{#each articles}}

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{this.img}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.descriotion}}</p>
        <a href={{this.link}} class="btn btn-primary">Go to source</a>
      </div>
    </div>

    {{/each}}
  </div>
</div>





<div>
  <ul>
  {{#each notes}}
    <li>
      <div>
        {{this.title}}
      </div>
      <div>
        {{this.body}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>
