<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

    {{#each articles}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src={{this.img}} alt="Card image cap">
          <div class="card-body">
            <h3>{{this.title}}</h3>
            <p class="card-text">{{this.descriotion}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href={{this.link}} target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View source</button></a>
                {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}}
              </div>
              <small class="text-muted">from BuzzfeedNews</small>
            </div>
          </div>
        </div>
      </div>
    {{/each}}   


    </div>
  </div>
</div>







{{!-- <button id="scrapeIt" href="scrape">Scrape</button>

<h1>Articles!</h1>

<h2>which were scraped</h2>

<div>
  <div class="article-list">
    {{#each articles}}

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{this.img}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.descriotion}}</p>
        <a href={{this.link}} class="btn btn-primary">Go to source</a>
      </div>
    </div>

    {{/each}}
  </div>
</div> --}}





{{!-- <div>
  <ul>
  {{#each notes}}
    <li>
      <div>
        {{this.title}}
      </div>
      <div>
        {{this.body}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>  --}}
